{% extends 'base.html' %}
{% load my_tags %}
{% load static %}
{% load bootstrap4 %}
{% block body %}

<div class="super_container">
	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/shop_background.jpg"></div>
		<div class="home_overlay"></div>
		<div class="home_content d-flex flex-column align-items-center justify-content-center">
			<h2 class="home_title">Smartphones & Tablets</h2>
		</div>
	</div>

	<!-- Shop -->

	<div class="shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<form  > 
						<div class="form-row">
							<label for="manufacture">Brand</label>
							<div class="form-group col-12">
								<div class="input-group">
									<input class="form-control py-2 border-right-0 border" type="search" name="manufacture" placeholder="manufacture..." />
									<span class="input-group-append">
										<div class="input-group-text bg-transparent">
											<i class="fa fa-search"></i>
										</div>
									</span>
								</div>
							</div>        
						</div> 
						<div class="form-group col-md-8">
							<label for="category">Category</label>
								<select id="category" class="form-control" name="category">
									<option selected>Choose...</option>
									{% for cat in Categories %}
										<option value="{{ cat }}">{{ cat }}</option>
									{% endfor %}
								</select>
						</div>
						<button type="submit" class="btn btn-primary">Search</button>
					</form>
				</div>
				<div class="col-lg-9">
					<!-- Shop Content -->
					<div class="shop_content">
						<div class="shop_bar clearfix">
							<div class="shop_product_count"><span>{{conut}}</span> products found</div>
							<div class="shop_sorting">
								<span>Sort by:</span>
								<ul>
									<li>
										<span class="sorting_text">highest rated<i class="fas fa-chevron-down"></span></i>
										<ul>
											<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>highest rated</li>
											<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>name</li>
											<li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>price</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>

						<div class="container">
							<div class="row mb-8">
								<div class="col-xl-9 col-wd-9gdot5">
									<!-- Tab Content -->
									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane fade pt-2 show active" id="pills-three-example1" role="tabpanel" aria-labelledby="pills-three-example1-tab" data-target-group="groups">
											{% for product in object_list %}	
												<ul class="d-block list-unstyled products-group prodcut-list-view">
													<li class="product-item remove-divider">
														<div class="product-item__outer w-100">
															<div class="product-item__inner remove-prodcut-hover py-4 row">
																<div class="product-item__header col-6 col-md-4">
																	<div class="mb-2">
																		<a href="/product/{{product.id}}" class="d-block text-center"><img class="img-fluid" src={{product.img}} alt="Image Description"></a>
																	</div>
																</div>
																<div class="product-item__body col-6 col-md-5">
																	<div class="pr-lg-12">
																		<div class="mb-2 "><a href="/product/{{product.id}}"  class="font-size-12 text-gray-5">{{product.category.sweetName}}</a></div>
																		<h5 class="mb-2 product-item__title"><a href="/product/{{product.id}}"  class="text-blue font-weight-bold">{{product.title}}</a></h5>
																		<div class="prodcut-price mb-2 d-md-none">
																			<div class="text-gray-100  mb-12">{{product.lastprice}}</div>
																		</div>
																		<div class="mb-3 d-none d-md-block">
																			<a class="d-inline-flex align-items-center small font-size-14" href="#">
																				<div class="text-warning mr-2">
																					<small class="fas fa-star text-muted"></small>
																					<small class="fas fa-star text-muted"></small>
																					<small class="fas fa-star text-muted"></small>
																					<small class="fas fa-star text-muted"></small>
																					<small class="far fa-star text-muted"></small>
																				</div>
																				<span class="text-secondary">{{product.rate}}</span>
																			</a>
																		</div>
																		<ul class="font-size-12 p-0 text-gray-110 mb-4 d-none d-md-block">
																			<li class="line-clamp-5 mb-1 list-bullet">{{product.description|safe|truncatewords:15}}</li>
																		</ul>
																	</div>
																</div>
																<div class="product-item__footer col-md-3 d-md-block">
																	<div class="mb-3">
																		<div class="prodcut-price mb-2">
																			<div class="text-gray-100">{{product.lastprice}}EP</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</li>
												</ul>
											{% endfor %}	
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Shop Page Navigation -->
						<div class="pagination">
							<span>
								{% if page_obj.has_previous %}
									<a href="?{% param_replace request page=1 %}">&laquo; first</a>
									<a href="?{% param_replace request page=page_obj.previous_page_number %}">previous</a>
								{% endif %}
				
								<span class="current">
									Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
								</span>
				
								{% if page_obj.has_next %}
									<a href="?{% param_replace request page=page_obj.next_page_number %}">next</a>
									<a href="?{% param_replace request page=page_obj.paginator.num_pages %}">last &raquo;</a>
								{% endif %}
							</span>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>



</div>
{% endblock body %}

